.sectionWelcome {
    background-image: url(../../img/cuidador-de-crianca-autista.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}

.sectionWelcome::after {
    position: absolute;
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #2eb6ffcc, transparent);
}

.cardSection {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}

.containerWelcome {
    display: flex;
    height: 100%;
    align-items: center;
}

.cardWelcome {
    display: flex;
    margin-left: 10em;
    flex-direction: column;
    gap: 10px;
}

.cardWelcome h1 {
    padding-bottom: 8px;
    color: white;
    font-weight: 550;
    font-size: 60px;
    position: relative;
}

.cardWelcome h1::after {
    position: absolute;
    content: '';
    width: 60%;
    height: 4px;
    background-color: #1d53a3;
    bottom: 0;
    left: 4px;
}

.cardWelcome p {
    font-weight: 400;
    margin-left: 4px;
    color: white;
}

.sectionPresentation{
    width: 100%;
    padding: 50px 300px;
    position: relative;
    display: flex;
}

.containerPresentation{
    width: 100%;
}

.cardPresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cardPresentation p{
    text-align: center;
}

.simboloTamanho{
    height: 150px;
}