@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&display=swap');

:root{
    --border: 1px solid red;
    --eftHover: #ffffff31;
    --trsbck: background-color 0.3s ease;
}

.fontKanit{
    font-family: 'Kanit';
    letter-spacing: 4px;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #1d53a3, #2e73db) ;
  padding: 10px 0 10px 0;
}

header .cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  width: 95%;
}

.logoImg{
  height: 100%;
}

ul{
  display: flex;
  gap: 2em;
  border: var(--border);
}

.separation{
  display: flex;
  align-items: center;
  gap: 10px;
}

li{
  list-style: none;
}

.link{
  color: white;
  text-decoration: none;
  display: flex;
}

.menuIconHeader{
  font-size: 40px;
  color: white;
  padding: 7px 7px;
  border-radius: 10px;
  transition: var(--trsbck), transform 0.3s ease;
}

.menuIconHeader:hover{
  background-color: var(--eftHover);
  cursor: pointer;
}

.menuIconHeader:active{
  transform: scale(0.9);
}